#blinx-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  opacity: 0;
  pointer-events: none;
  z-index: 2147483647;
  transition: opacity 0.1s ease-out;
}

html.dark #blinx-overlay {
  background: hsl(240 10% 3.9%);
}

#blinx-overlay.active {
  opacity: 0.8;
}